---
import '@/styles/globals.css';
---

<header
  class='relative z-50 mx-6 my-[1.38rem] flex items-center justify-evenly md:mx-[10.31rem] md:mb-[1.13rem] md:mt-[1.12rem]'
>
  <div class='flex items-center justify-between gap-[10.65rem]'>
    <img src='/public/images/logo.svg' alt='logo' class='' />
    <button type='button' class='md:hidden' id='openMenu'>
      <img src='/public/images/icon-hamburger.svg' alt='Open Menu' class='' />
    </button>
    <button type='button' class='hidden' id='closeMenu'>
      <img src='/public/images/icon-close.svg' alt='Close Menu' class='' />
    </button>
  </div>
  <!-- Mobile Menu -->
  <nav
    class='px-auto absolute top-[5.5rem] mx-6 hidden w-[20.4375rem] rounded-[0.25rem] bg-white py-8'
    id='mobileMenu'
  >
    <ul class='flex flex-col items-center justify-center gap-6'>
      <li>
        <a
          href=''
          class='cursor-pointer text-lg font-normal leading-normal tracking-[-0.00863rem] text-[#2D314D]'
          >Home</a
        >
      </li>
      <li>
        <a
          href=''
          class='cursor-pointer text-lg font-normal leading-normal tracking-[-0.00863rem] text-[#2D314D]'
          >About</a
        >
      </li>
      <li>
        <a
          href=''
          class='cursor-pointer text-lg font-normal leading-normal tracking-[-0.00863rem] text-[#2D314D]'
          >Contact</a
        >
      </li>
      <li>
        <a
          href=''
          class='cursor-pointer text-lg font-normal leading-normal tracking-[-0.00863rem] text-[#2D314D]'
          >Blog</a
        >
      </li>
      <li>
        <a
          href=''
          class='cursor-pointer text-lg font-normal leading-normal tracking-[-0.00863rem] text-[#2D314D]'
          >Careers</a
        >
      </li>
    </ul>
  </nav>

  <nav class='hidden lg:flex'>
    <ul class='flex items-center gap-[1.88rem]'>
      <li>
        <a
          href=''
          class='relative cursor-pointer text-sm font-normal leading-normal tracking-[-0.00675rem] text-[#9597A5] transition-all duration-300 ease-in hover:text-[#2D314D] hover:after:absolute hover:after:-bottom-7 hover:after:left-0 hover:after:h-[0.25rem] hover:after:w-[100%]'
          >Home</a
        >
      </li>
      <li>
        <a
          href=''
          class='relative cursor-pointer text-sm font-normal leading-normal tracking-[-0.00675rem] text-[#9597A5] transition-all duration-300 ease-in hover:text-[#2D314D] hover:after:absolute hover:after:-bottom-7 hover:after:left-0 hover:after:h-[0.25rem] hover:after:w-[100%]'
          >About</a
        >
      </li>
      <li>
        <a
          href=''
          class='relative cursor-pointer text-sm font-normal leading-normal tracking-[-0.00675rem] text-[#9597A5] transition-all duration-300 ease-in hover:text-[#2D314D] hover:after:absolute hover:after:-bottom-7 hover:after:left-0 hover:after:h-[0.25rem] hover:after:w-[100%]'
          >Contact</a
        >
      </li>
      <li>
        <a
          href=''
          class='relative cursor-pointer text-sm font-normal leading-normal tracking-[-0.00675rem] text-[#9597A5] transition-all duration-300 ease-in hover:text-[#2D314D] hover:after:absolute hover:after:-bottom-7 hover:after:left-0 hover:after:h-[0.25rem] hover:after:w-[100%]'
          >Blog</a
        >
      </li>
      <li>
        <a
          href=''
          class='relative cursor-pointer text-sm font-normal leading-normal tracking-[-0.00675rem] text-[#9597A5] transition-all duration-300 ease-in hover:text-[#2D314D] hover:after:absolute hover:after:-bottom-7 hover:after:left-0 hover:after:h-[0.25rem] hover:after:w-[100%]'
          >Careers</a
        >
      </li>
    </ul>
  </nav>

  <button
    type='button'
    class='headerBtn hidden h-[2.75rem] w-[10.1875rem] cursor-pointer items-center justify-center rounded-[1.375rem] text-sm font-bold leading-7 text-white transition-all duration-300 ease-in hover:opacity-40 md:flex lg:flex'
  >
    Request Invite
  </button>
</header>

<style is:global>
  a::after {
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  }
  .headerBtn {
    background: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
  }
</style>

<script is:inline>
  const openMenu = document.getElementById('openMenu');
  const closeMenu = document.getElementById('closeMenu');
  const mobileMenu = document.getElementById('mobileMenu');

  openMenu.addEventListener('click', () => {
    mobileMenu.classList.remove('hidden');
    closeMenu.classList.remove('hidden');
    openMenu.classList.add('hidden');
  });
  closeMenu.addEventListener('click', () => {
    mobileMenu.classList.add('hidden');
    closeMenu.classList.add('hidden');
    openMenu.classList.remove('hidden');
  });
</script>
